.settings
.project
.pydevproject
.cproject
*.pyc
.ipynb_checkpoints
*~
*.bak
*.o
tags
.sconsign.dblite
.os
cscope.*
tags
*.aux
*.log
*.nav
*.out
*.bbl
*.blg
*.toc
*.thm
*.snm
*.spl
*.ind
*.idx
*.ilg
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdfsync
__latexindent_temp*
.*.sw[m-p]
.sw[m-p]
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
_region_*
.dropbox
\#*
.\#*
demo_*
kernel*.json
.DS_Store
*.prv
*.pvd
*.vtu
*.vtk
core
*.a
*.so
*.zip
tmp
ng.ini
tmp_mako*
*.dlog
_build
.env
